{% extends "bootstrap/base.html" %}
{% import  "bootstrap/wtf.html" as wtf %}

{% block title %}Sommelier Inteligente{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Sommelier Inteligente</h1>
    </div>
    <div class="page-body">
        <form action="/" method="post" class="form">
            {{ form.csrf_token }}
            <div class="row">
                <div class="col-md-12 justify-content-center">
                    {% if wine_class != 'Unknow' %}
                    <div class="row">
                        <div class="form-group col-md-12">
                            <div class="alert alert-info h2" role="alert">
                                The wine class is: {{wine_class}}
                            </div>
                        </div>
                    </div>
                    {% endif %} 

                    <div class="row">
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.alcohol, class='form-control') }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.malic_acid, class='form-control') }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.ash, class='form-control') }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.alcalinity_of_ash, class='form-control') }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.magnesium, class='form-control') }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.total_phenols, class='form-control') }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.flavanoids, class='form-control') }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.nonflavanoid_phenols, class='form-control') }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.proanthocyanins, class='form-control') }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.color_intensity, class='form-control') }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.hue, class='form-control') }}
                        </div>
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.od280, class='form-control') }}
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="form-group col-md-4">
                            {{ wtf.form_field(form.proline, class='form-control') }}
                        </div>
                    </div>



                    <div class="row col-md-12 text-center">
                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-primary">Predict</button>
                        </div>
                    </div>


                </div>
            </div>
        </form>
    </div>
</div>
<footer class="footer navbar-bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    Thiago & Gustavo - 2020
  </div>
  <!-- Copyright -->

</footer>
{% endblock %}